<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <title>Document</title>
    <style>
        .captcha{
            width: 500px;
            height: 500px;
        }
        .captcha > div{
            height: 33%;
            display: flex;
        }
        .captcha > div > div{
            width: 33%;
            border: solid 1px #ccc;
        }
        .full{
            background: blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>{{this.mode == "row" ? "水平" : this.mode == "col" ? "垂直" : "斜線"}}</h3>
        <button @click="this.mode = this.mode == 'row' ? 'col' : this.mode == 'col' ? 'slash' : 'row'">切換驗證模式</button>
        <br><br>
        <h3>{{success ? "驗證成功" : "驗證失敗"}}</h3>
        <button @click="check">驗證</button>
        <div class="captcha">
            <div v-for="(item,idx) in captcha">
                <div v-for="(item2,idx2) in item" @click="captcha[idx][idx2] = !captcha[idx][idx2]" :class="{'full':item2}"></div>
            </div>
        </div>
    </div>
    <script>
        let vue = Vue.createApp({
            data() {
                return {
                    captcha:[
                        [false,false,false],
                        [false,false,false],
                        [false,false,false]
                    ],
                    mode:"row",
                    success:false
                }
            },
            methods: {
                check(){
                    let result = false;
                    if(this.mode == "row"){
                        for(let i = 0;i < this.captcha.length;i++){
                            for(let j = 0;j < this.captcha[i].length;j++){
                                if(!this.captcha[i][j]){
                                    break;
                                }
                                if(j == this.captcha[i].length - 1){
                                    result = true;
                                }
                            }
                        }
                    }else if(this.mode == "col"){
                        for(let i = 0;i < this.captcha[0].length;i++){
                            for(let j = 0;j < this.captcha.length;j++){
                                if(!this.captcha[j][i]){
                                    break;
                                }
                                if(j == this.captcha.length - 1){
                                    result = true;
                                }
                            }
                        }
                    }else{
                        //check slash
                        for(let i = 0;i < this.captcha.length;i++){
                            if(!this.captcha[i][i]){
                                break;
                            }
                            if(i == this.captcha.length - 1){
                                result = true;
                            }
                        }
                        for(let i = 0;i < this.captcha.length;i++){
                            if(!this.captcha[i][this.captcha.length - 1 - i]){
                                break;
                            }
                            if(i == this.captcha.length - 1){
                                result = true;
                            }
                        }
                    }
                    if (result) {
                        let count = 0;
                        for(let i = 0;i < this.captcha.length;i++){
                            for(let j = 0;j < this.captcha[i].length;j++){
                                if(this.captcha[i][j]){
                                    count++;
                                }
                            }
                        }
                        result = count <= 3;
                    }
                    this.success = result;
                }
            }
        }).mount("#app")
    </script>
</body>
</html>
